<nav class="navbar sticky-top navbar-dark ">
    <div class="container-fluid">
        <i class="navbar-brand"><img src="/img/logoGlasses.svg" alt="" id="glassesSVG" class="mt-0 mb-2 ml-1"></i>

        <div id="navbarNavAltMarkup">
            <div>
                <% if(!currentUser) {%>
                    <% } else { %>
                        <!-- Menú desplegable para usuarios autenticados -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <%= currentUser.username %>
                                    <% if (hasNotifications) { %>🔴<% } %>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" style="min-width: 130px;">

                                <li>
                                    <a class="dropdown-item" href="/library">Estantes</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="/index">Biblioteca</a>
                                </li>

                                <% if (hasNotifications){ %>
                                    <li><a class="dropdown-item" href="/index/<%=currentUser.username%>/offers">🔴
                                            Ofertas</a>
                                    </li>
                                <% } else { %>
                                        <li><a class="dropdown-item"
                                            href="/index/<%=currentUser.username%>/offers">Ofertas</a></li>
                                        
                                        <% } %>
                                    
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                   <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
</nav>