<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>BooksMart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHome.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">



    <header class="mb-auto">
        <!-- Navigation bar -->
        <div class="navbar-home">

            <img src="/img/logoGlasses.svg" alt="glassesSVG" style="height: 23px;">

            <nav class="nav nav-masthead justify-content-center float-md-end">

                <a id="iniciar_sesion" class="nav-link" data-mod-target="#mod-login" style="margin-right: 10px;">Iniciar
                    Sesion</a>

                <a id="registrarse" class="nav-link" data-mod-target="#mod-register">Registrarse</a>
            </nav>
        </div>

        <!-- Main phrase -->
        <div>
            <main class="px-3 jumbotron jumbotron-fluid">
                <blockquote class="blockquote mb-5">
                    <p class="mt-5" style="font-size: 25px;">Un lector vive mil vidas antes de morir. Aquel que
                        nunca lee vive solo una.
                    </p>
                    <footer class="blockquote-footer">George R.R. Martin, <cite title="Source Title">A
                            Dance with Dragons</cite>
                    </footer>
                </blockquote>
            </main>
            <a class="page-btn" href="#conocenos">Conócenos</a>
        </div>
    </header>


    <div id="conocenos" class="faq">

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="width: 900px;">
                <div class="carousel-item active">
                    <div class="carousel-card">
                        <h2 class="question">¿Qué es BooksMart?</h2>
                        <div class="carousel-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ut dolorem a
                            sint
                            temporibus sapiente voluptatibus soluta perferendis nam iusto sequi nesciunt,
                            tempore
                            aspernatur inventore, dolore architecto nisi doloribus exercitationem.
                            Nisi recusandae ipsum aliquam. Fuga, sit laborum. Nemo pariatur, odio sit sunt quia
                            iusto
                            nostrum ipsum odit corrupti quis alias ducimus mollitia laborum perferendis a
                            reprehenderit
                            earum vero et voluptatem.
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-card">
                        <h2>¿Cómo funciona?</h2>
                        <div class="carousel-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ut dolorem a
                            sint
                            temporibus sapiente voluptatibus soluta perferendis nam iusto sequi nesciunt,
                            tempore
                            aspernatur inventore, dolore architecto nisi doloribus exercitationem.
                            Nisi recusandae ipsum aliquam. Fuga, sit laborum. Nemo pariatur, odio sit sunt quia
                            iusto
                            nostrum ipsum odit corrupti quis alias ducimus mollitia laborum perferendis a
                            reprehenderit
                            earum vero et voluptatem.
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-card">
                        <h2>¿Quién debería unirse?</h2>
                        <div class="carousel-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ut dolorem a
                            sint
                            temporibus sapiente voluptatibus soluta perferendis nam iusto sequi nesciunt,
                            tempore
                            aspernatur inventore, dolore architecto nisi doloribus exercitationem.
                            Nisi recusandae ipsum aliquam. Fuga, sit laborum. Nemo pariatur, odio sit sunt quia
                            iusto
                            nostrum ipsum odit corrupti quis alias ducimus mollitia laborum perferendis a
                            reprehenderit
                            earum vero et voluptatem.
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>



    <!--
            Here starts modal definitions (pop up windows)
        -->


    <div class="mod" id="mod-login">
        <div class="mod-header">
            <div class="title" style="margin-left: 33%;">Inicia sesión</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="mod-body" mod-body style="max-height: 500px; margin-top: 10px;">
            <form action="/login" method="POST">
                <div class="login-mod">

                    <div>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <input class="home-input" type="text" id="username" name="username"
                            placeholder="Nombre de usuario" autofocus required>
                    </div>

                    <div>
                        <i class="fa fa-lock" aria-hidden="true" style="top: 139px; left: 28px; font-size: 22px;"></i>
                        <i hide-pw class="fa fa-eye-slash" aria-hidden="true"
                            style="top: 138px; left: 299px; font-size: 22px;"></i>
                        <input class="home-input" type="password" id="password" name="password" placeholder="Contraseña"
                            required>
                    </div>

                    <div style="color: red;">
                        <% if (error.length) { %>
                            <p class="text-end">Usuario y/o contraseña incorrectos</p>
                            <% } %>
                    </div>

                    <a style="font-size: small; text-align: right;" href="#"
                        data-mod-target="#mod-forgot-password">¿Olvidaste tu contraseña?</a>

                    <div style="margin-top: 5%;">
                        <button class="btn btn-primary form-control m-0" style="border-color: white;" type="submit">Iniciar
                            sesión</button>
                    </div>
                </div>

            </form>

            <hr class="rounded">

            <div class="navbar-nav ml-auto">
                <label style="color:aliceblue; text-align: center; margin-bottom: 10px;">¿No tienes una
                    cuenta?</label>
                <button id="registrarse" class="btn btn-primary form-control m-0" style="text-align: center; border-color: white;"
                    data-mod-target="#mod-register">Registrate</button>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div class="mod" id="mod-register">
        <div class="mod-header">
            <div class="title" style="margin-left: 33%;">Regístrate</div>
            <button data-close-button class="close-button">&times;</button>
        </div>

        <div class="mod-body" mod-body style="max-height: 500px; margin-top: 10px;">
            <form action="/register" method="POST">
                <div class="login-mod">
                    <div>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <input class="home-input" type="text" id="username" name="username" placeholder="Nombre de usuario"
                            required>
                    </div>
                    <div>
                        <i class="fa fa-envelope" style="top: 139px; left: 26px; font-size: 18px;"></i>
                        <input class="home-input" type="email" id="email" name="email" placeholder="Correo electrónico"
                            required>
                    </div>
                    <div>
                        <i class="fa fa-lock" aria-hidden="true" style="top: 193px; left: 28px; font-size: 22px;"></i>
                        <i hide-pw class="fa fa-eye-slash" aria-hidden="true"
                            style="top: 193px; left: 299px; font-size: 22px;"></i>
                        <input class="home-input" type="password" id="password" name="password" placeholder="Contraseña"
                            required>
                    </div>

                    <div style="color: red;">
                        <% if (err.length> 3) { %>
                            <p class="text-end">Nombre de usuario y/o correo ya registrados</p>
                            <% } %>
                    </div>

                    <div style="margin-top: 5%; border-color: white;">
                        <button class="btn btn-primary form-control m-0" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>

            <hr class="rounded">

            <div class="navbar-nav ml-auto">
                <label style="color:aliceblue; text-align: center; margin-bottom: 10px; border-color: white;">¿Ya tienes una
                    cuenta?</label>
                <button class="btn btn-primary form-control m-0" style="text-align: center; border-color: white;"
                    data-mod-target="#mod-login">Inicia sesión</button>
            </div>
        </div>
    </div>

    <div class="mod" id="mod-forgot-password">
        <div class="mod-header" style="display: flex; flex-direction: row; justify-content: space-between;">
            <i class="fa fa-arrow-left close-button" data-mod-target="#mod-login" style="padding-left: 0; float: left;"></i>
            <div class="title" style="margin-left: 5px;">Cambiar contraseña</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="mod-body" mod-body style="max-height: 500px; margin-top: 10px;">
            <div>
                <form action="/forgot_password" method="POST" class="forgot-form">
                    <label for="email" style="float: left; font-size: 18px; margin-top: 10px;">Ingresa tu correo electrónico para buscar
                        tu cuenta:</label>
                    <br>
                    <i class="fa fa-envelope"></i>
                    <input type="text" id="email" name="email" placeholder="Correo electrónico"required>
                    <br>

                    <hr class="rounded">

                    <div class="navbar-nav ml-auto" style="margin-bottom: 10px;">
                        <button class="btn btn-primary form-control m-0" style="text-align: center; border-color: white;" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="mt-auto text-white-50" style="background-color: black;">
        <p style="margin-bottom: 0px;">&copy; STACK 2024 </p>
    </footer>



    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>

    <script>

        const hide_pw = document.querySelectorAll('[hide-pw]')
        hide_pw.forEach(pw => {
            pw.addEventListener('click', () => {
                const pwi = pw.parentElement.querySelector('input')

                if (pw.classList.contains('fa-eye')) {
                    pw.classList.remove('fa-eye')
                    pw.classList.add('fa-eye-slash')
                    pwi.type = 'password'
                } else {
                    pw.classList.remove('fa-eye-slash')
                    pw.classList.add('fa-eye')
                    pwi.type = 'text'
                }
            })
        })

        //Here we start to declare functionality of modals
        const openModButton = document.querySelectorAll('[data-mod-target]')
        const closeModButton = document.querySelectorAll('[data-close-button]')
        const overlay = document.getElementById('overlay')
        const login = document.getElementById('iniciar_sesion')
        const register = document.getElementById('registrarse')

        const e = '<%- JSON.stringify(error) %>';
        console.log(e)
        const e2 = '<%- JSON.stringify(err) %>';
        console.log(e2)

        document.addEventListener('DOMContentLoaded', function () {
            if (e != '[]') {
                login.click()
            } else if (e2 != '"nan"') {
                register.click()
            }
        })

        //Modal open button
        openModButton.forEach(button => {

            button.addEventListener('click', (event) => {
                const mods = document.querySelectorAll('.mod.active')
                mods.forEach(mod => {
                    closemod(mod)
                })

                const mod = document.querySelector(button.dataset.modTarget)
                openmod(mod)
            })
        })

        closeModButton.forEach(button => {
            button.addEventListener('click', () => {
                const mod = button.closest('.mod')
                closemod(mod)
            })
        })

        overlay.addEventListener('click', () => {
            const mods = document.querySelectorAll('.mod.active')
            mods.forEach(mod => {
                closemod(mod)
            })
        })

        function openmod(mod) {
            if (mod == null) return
            mod.classList.add('active')
            overlay.classList.add('active')
        }

        function closemod(mod) {
            if (mod == null) return
            mod.classList.remove('active')
            overlay.classList.remove('active')
        }
    </script>
</body>



</html>