<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BooksMart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHome.css" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto ">
            <div>
                <h3 class="float-md-start mb-0">
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link" href="/faq">Acerca de </a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Iniciar Sesion</a>
                    <a class="nav-link" href="/register">Registrarse</a>

                    <% } else { %>
                    <a class="nav-link" href="/logout">Salir</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3 jumbotron jumbotron-fluid">

            <blockquote class="blockquote mb-5">
                <p class="mt-5">Un lector vive mil vidas antes de morir. Aquel que nunca lee vive solo una.
                </p>
                <footer class="blockquote-footer">George R.R. Martin, <cite title="Source Title">A
                        Dance with Dragons</cite>
                </footer>
                <a href="/library" class="btn btn-md font-weight-bold btn-outline-light">Entrar a BooksMart</a>
            </blockquote>

        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; STACK 2024 </p>
        </footer>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

</body>


</html>