<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>BooksMart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHome.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">

    <!-- Navigation bar -->
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">
                    <iclass="navbar-brand"><img src="/img/logoGlasses.svg" alt="" id="glassesSVG"
                            class="mt-0 mb-2 ml-1"></i>
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end" style="margin-right: 5px;">
                    <a class="nav-link" href="/faq">Acerca de </a>

                    <a id="iniciar_sesion" class="nav-link" href="/#" data-mod-target="#mod-login">Iniciar
                        Sesion</a>
                    <a id="registrarse" class="nav-link" href="/#" data-mod-target="#mod-register">Registrarse</a>
                </nav>
            </div>
        </header>


        <!-- Main phrase -->
        <div style="margin-top: 18%; margin-bottom: 25%;">
            <main class="px-3 jumbotron jumbotron-fluid">

                <blockquote class="blockquote mb-5">
                    <p class="mt-5">Un lector vive mil vidas antes de morir. Aquel que nunca lee vive solo una.
                    </p>
                    <footer class="blockquote-footer">George R.R. Martin, <cite title="Source Title">A
                            Dance with Dragons</cite>
                    </footer>
                    <!-- <a href="/library" class="btn btn-md font-weight-bold btn-outline-light">Entrar a BooksMart</a> -->
                </blockquote>
            </main>
        </div>



        <!-- Q&A -->
        <div class="row align-items-center">
            <div class="col-12 col-lg-10 col-xl-5 mx-auto text-center  mt-5">
                <div id="accordion" class="accordion">

                    <div class="card-secondary">
                        <div class="card-header">
                            <a class="card-link custom-link" data-toggle="collapse" href="#collapseOne">
                                Pregunta A
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ut dolorem a
                                sint
                                temporibus sapiente voluptatibus soluta perferendis nam iusto sequi nesciunt,
                                tempore
                                aspernatur inventore, dolore architecto nisi doloribus exercitationem.
                                Nisi recusandae ipsum aliquam. Fuga, sit laborum. Nemo pariatur, odio sit sunt quia
                                iusto
                                nostrum ipsum odit corrupti quis alias ducimus mollitia laborum perferendis a
                                reprehenderit
                                earum vero et voluptatem.
                            </div>
                        </div>
                    </div>

                    <div class="card-secondary">
                        <div class="card-header">
                            <a class="collapsed card-link custom-link" data-toggle="collapse" href="#collapseTwo">
                                Pregunta B
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsum in quaerat
                                dolorem
                                eveniet reiciendis illo quis dicta, distinctio aperiam nesciunt iste sed tempore
                                necessitatibus quam eum corrupti. Inventore, nemo.
                                Fuga iusto exercitationem laudantium rem. Assumenda adipisci ea iste nulla. Qui,
                                vero.
                                Temporibus quas, nihil distinctio necessitatibus fugit suscipit maiores autem quam
                                eum
                                sunt
                                ab iste, enim minima earum ipsum.
                            </div>
                        </div>
                    </div>

                    <div class="card-secondary">
                        <div class="card-header">
                            <a class="collapsed card-link custom-link" data-toggle="collapse" href="#collapseThree">
                                Pregunta C
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dignissimos
                                deserunt
                                velit
                                unde. Quas, libero? Facere harum dolores cumque sed odio, laborum ullam illo aut,
                                amet
                                molestias provident soluta ut.
                                Dolor cumque omnis veniam aperiam a illo, sit aliquam. Harum voluptates id
                                voluptatibus
                                corrupti incidunt deserunt consequuntur saepe ad mollitia quod. Rem modi, similique
                                sunt
                                qui
                                fugit illum pariatur non.
                            </div>
                        </div>
                    </div>

                    <div class="card-secondary">
                        <div class="card-header ">
                            <a class="collapsed card-link custom-link" data-toggle="collapse" href="#collapseFour">
                                Pregunta D
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, architecto! Quo
                                ratione
                                tenetur officiis unde, architecto at vitae rem libero ut inventore beatae
                                necessitatibus
                                labore impedit accusantium saepe suscipit sed?
                                Dolor illum repellat consequuntur ab laborum inventore harum libero hic animi fugit,
                                eius
                                eum? Vitae sunt praesentium voluptatum dolorum natus suscipit debitis! Obcaecati
                                optio
                                quaerat commodi. Quasi doloremque quibusdam impedit!
                            </div>
                        </div>
                    </div>


                    <div class="card-secondary">
                        <div class="card-header">
                            <a class="collapsed card-link custom-link" data-toggle="collapse" href="#collapseFive">
                                Pregunta E
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque molestias aliquid
                                voluptate
                                blanditiis fugit totam, veritatis asperiores quam, repellat saepe mollitia ducimus
                                fuga
                                nesciunt ut excepturi inventore temporibus beatae vero.
                                Magnam fuga nesciunt quas illum laudantium reprehenderit, in corporis nulla ipsam
                                hic
                                dolorem sapiente tempore nemo, deleniti architecto iure, aliquam nostrum veritatis
                                consequuntur quis ratione ipsum non! Commodi, sint nostrum!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!--
            Here starts modal definitions (pop up windows)
        -->


        <div class="mod" id="mod-login">
            <div class="mod-header">
                <div class="title" style="margin-left: 33%;">Inicia sesión</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="mod-body" mod-body style="max-height: 500px; margin-top: 10px;">
                <form action="/login" method="POST">
                    <div class="login-mod">

                        <div>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <input class="home-input" type="text" id="username" name="username"
                                placeholder="Nombre de usuario" autofocus required>
                        </div>

                        <div>
                            <i class="fa fa-lock" aria-hidden="true"
                                style="top: 139px; left: 28px; font-size: 22px;"></i>
                            <i hide-pw class="fa fa-eye" aria-hidden="true"
                                style="top: 138px; left: 299px; font-size: 22px;"></i>
                            <input class="home-input" type="password" id="password" name="password"
                                placeholder="Contraseña" required>
                        </div>

                        <div style="color: red;">
                            <% if (error.length) { %>
                                <p class="text-end">Usuario y/o contraseña incorrectos</p>
                                <% } %>
                        </div>

                        <a style="font-size: small; text-align: right;" href="#">¿Olvidaste tu contraseña?</a>

                        <div style="margin-top: 5%;">
                            <button class="btn btn-primary form-control m-0" type="submit">Iniciar
                                sesión</button>
                        </div>
                    </div>

                </form>

                <hr class="rounded">

                <div class="navbar-nav ml-auto">
                    <label style="color:aliceblue; text-align: center; margin-bottom: 10px;">¿No tienes una
                        cuenta?</label>
                    <button id="registrarse" class="btn btn-primary form-control m-0" style="text-align: center;"
                        data-mod-target="#mod-register">Registrate</button>
                </div>
            </div>
        </div>

        <div id="overlay"></div>

        <div class="mod" id="mod-register">
            <div class="mod-header">
                <div class="title" style="margin-left: 33%;">Regístrate</div>
                <button data-close-button class="close-button">&times;</button>
            </div>

            <div class="mod-body" mod-body style="max-height: 500px; margin-top: 10px;">
                <form action="/register" method="POST">
                    <div class="login-mod">
                        <div>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <input class="home-input" type="text" id="name" name="name" placeholder="Nombre de usuario" required>
                        </div>
                        <div>
                            <i class="fa fa-envelope" style="top: 139px; left: 26px; font-size: 18px;"></i>
                            <input class="home-input" type="email" id="email" name="email"
                                placeholder="Correo electrónico" required>
                        </div>
                        <div>
                            <i class="fa fa-lock" aria-hidden="true"
                                style="top: 193px; left: 28px; font-size: 22px;"></i>
                            <i hide-pw class="fa fa-eye" aria-hidden="true"
                                style="top: 193px; left: 299px; font-size: 22px;"></i>
                            <input class="home-input" type="password" id="password" name="password"
                                placeholder="Contraseña" required>
                        </div>

                        <div style="color: red;">
                            <% if (err.length> 3) { %>
                                <p class="text-end">Nombre de usuario y/o correo ya registrados</p>
                                <% } %>
                        </div>

                        <div style="margin-top: 5%;">
                            <button class="btn btn-primary form-control m-0" type="submit">Registrarse</button>
                        </div>
                    </div>
                </form>

                <hr class="rounded">

                <div class="navbar-nav ml-auto">
                    <label style="color:aliceblue; text-align: center; margin-bottom: 10px;">¿Ya tienes una
                        cuenta?</label>
                    <button class="btn btn-primary form-control m-0" style="text-align: center;"
                        data-mod-target="#mod-login">Inicia sesión</button>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="mt-auto text-white-50">
            <p>&copy; STACK 2024 </p>
        </footer>

    </div>

    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>

    <script>

        const hide_pw = document.querySelectorAll('[hide-pw]')
        hide_pw.forEach(pw => {
            pw.addEventListener('click', () => {
                const pwi = pw.parentElement.querySelector('input')

                if (pw.classList.contains('fa-eye')) {
                    pw.classList.remove('fa-eye')
                    pw.classList.add('fa-eye-slash')
                    pwi.type = 'text'
                } else {
                    pw.classList.remove('fa-eye-slash')
                    pw.classList.add('fa-eye')
                    pwi.type = 'password'
                }
            })
        })

        //Here we start to declare functionality of modals
        const openModButton = document.querySelectorAll('[data-mod-target]')
        const closeModButton = document.querySelectorAll('[data-close-button]')
        const overlay = document.getElementById('overlay')
        const login = document.getElementById('iniciar_sesion')
        const register = document.getElementById('registrarse')

        const e = '<%- JSON.stringify(error) %>';
        console.log(e)
        const e2 = '<%- JSON.stringify(err) %>';
        console.log(e2)

        document.addEventListener('DOMContentLoaded', function () {
            if (e != '[]') {
                login.click()
            } else if (e2 != '"nan"') {
                register.click()
            }
        })

        //Modal open button
        openModButton.forEach(button => {

            button.addEventListener('click', (event) => {
                const mods = document.querySelectorAll('.mod.active')
                mods.forEach(mod => {
                    closemod(mod)
                })

                const mod = document.querySelector(button.dataset.modTarget)
                openmod(mod)
            })
        })

        closeModButton.forEach(button => {
            button.addEventListener('click', () => {
                const mod = button.closest('.mod')
                closemod(mod)
            })
        })

        overlay.addEventListener('click', () => {
            const mods = document.querySelectorAll('.mod.active')
            mods.forEach(mod => {
                closemod(mod)
            })
        })

        function openmod(mod) {
            if (mod == null) return
            mod.classList.add('active')
            overlay.classList.add('active')
        }

        function closemod(mod) {
            if (mod == null) return
            mod.classList.remove('active')
            overlay.classList.remove('active')
        }
    </script>
</body>



</html>