<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style_trade.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <% layout('layouts/boilerplateLibrary') %>

        <section class="container-fluid px-5" style="padding-top: 2cm;">

            <!-- 'Delete' modal "definition" starts here-->

            <div class="mod" id="mod-delete">
                <div class="mod-header">
                    <div class="title">¿Qué libro quieres eliminar?</div>
                    <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="mod-body" mod-body>
                    <div>
                        <input data-search id="search-word" class="search" type="search"
                            placeholder="Ingresa título, autor o año" aria-label="Search">
                    </div>

                    <div search-elements id="search-elements" class="scrollable-content">

                        <table search-table id="search_table" class="table table-dark table-hover table-striped">
                            <tbody search-tbody id="search-tbody">
                                <!-- Confirmed books will be displayed here -->
                            </tbody>
                        </table>

                    </div>

                    <div style="margin-right: 5%; margin-top: 10px;">
                        <button id="submit-delete" type="click" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>

            <!-- 'Edit' modal "definition" starts here-->
            <div class="mod" id="mod-edit">
                <div class="mod-header">
                    <div class="title">¿Qué libro quieres editar?</div>
                    <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="mod-body" mod-body>
                    <div>
                        <input data-search id="search-word" class="search" type="search"
                            placeholder="Ingresa título, autor o año" aria-label="Search">
                    </div>

                    <div search-elements id="search-elements" class="scrollable-content">

                        <table search-table id="search_table" class="table table-dark table-hover table-striped">
                            <tbody search-tbody id="search-tbody">
                                <!-- Confirmed books will be displayed here -->
                            </tbody>
                        </table>

                    </div>

                    <div edit-form>

                    </div>

                    <div button-div style="margin-right: 5%; margin-top: 10px;">
                        <button id="select-edit" type="click" class="btn btn-primary">Editar</button>
                    </div>
                </div>
            </div>

            <div id="overlay"></div>
            <!-- Modal "Definition" ends-->

            <!-- 'Loading' modal-->
            <div id="loading" class="loading">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>

            <div class="row align-items-center">
                <!-- List of books you are adding that you want -->
                <h2 class="text-white" style="padding-top: 1cm;">Agregar libro que quieres</h2>
                <div id="quiere_libros">
                    <div id='newBook_q' class="input-group mb-3">

                        <span class="input-group-text text-white" style="background-color: #24242c">Título</span>
                        <input id="name" type="text" name="quiere_libros[${bookCounterQuiero}][nombre]"
                            placeholder="Nombre del libro" class="form-control text-white"
                            style="background-color: #24242c">
                        <span class="input-group-text text-white" style="background-color: #24242c">Autor</span>
                        <input id="autor" type="text" name="quiere_libros[${bookCounterQuiero}][autor]"
                            placeholder="Autor del libro" autocomplete="off" class="form-control text-white"
                            style="background-color: #24242c">
                        <span class="input-group-text text-white" style="background-color: #24242c">Año de
                            Publicación</span>
                        <input id="date" type="text" name="quiere_libros[${bookCounterQuiero}][fecha_publicacion]"
                            placeholder="Fecha de Publicación" autocomplete="off" class="form-control text-white"
                            style="background-color: #24242c">



                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false"
                                style="background-color: rgb(31, 31, 31); border-radius: 0px; border-color: white; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Género</button>

                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end scrollable-content"
                                style="width: 175px;">

                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.0"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.0"
                                            style="margin-left: 8px; width: 100%;">
                                            Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.1"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.1"
                                            style="margin-left: 8px; width: 100%;">
                                            No_Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.2"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.2"
                                            style="margin-left: 8px; width: 100%;">
                                            Misterio
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.3"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.3"
                                            style="margin-left: 8px; width: 100%;">
                                            Ciencia_Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.4"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.4"
                                            style="margin-left: 8px; width: 100%;">
                                            Fantasía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.5"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.5"
                                            style="margin-left: 8px; width: 100%;">
                                            Romance
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.6"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.6"
                                            style="margin-left: 8px; width: 100%;">
                                            Aventura
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.7"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.7"
                                            style="margin-left: 8px; width: 100%;">
                                            Terror
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.8"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.8"
                                            style="margin-left: 8px; width: 100%;">
                                            Distopía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.9"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.9"
                                            style="margin-left: 8px; width: 100%;">
                                            Histórico
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.10"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.10"
                                            style="margin-left: 8px; width: 100%;">
                                            Biografía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.11"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.11"
                                            style="margin-left: 8px; width: 100%;">
                                            Poesía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.12"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.12"
                                            style="margin-left: 8px; width: 100%;">
                                            Drama
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.13"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.13"
                                            style="margin-left: 8px; width: 100%;">
                                            Comedia
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.14"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.14"
                                            style="margin-left: 8px; width: 100%;">
                                            Ensayo
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.15"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.15"
                                            style="margin-left: 8px; width: 100%;">
                                            Suspenso
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.16"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.16"
                                            style="margin-left: 8px; width: 100%;">
                                            Ciencia
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.17"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.17"
                                            style="margin-left: 8px; width: 100%;">
                                            Autobiografía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.18"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.18"
                                            style="margin-left: 8px; width: 100%;">
                                            Viajes
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="2.19"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="2.19"
                                            style="margin-left: 8px; width: 100%;">
                                            Otro
                                        </label>
                                    </div>
                                </li>


                            </ul>
                        </div>

                    </div>

                    <div id="c-b2">
                        <button confirm-button style="float: right; border-color: white;" type="button"
                            class="confirm-button btn btn-primary" data-type="quiere_libros"
                            data-index="${bookCounterQuiero}">Confirmar</button>
                    </div>
                    <!-- This is where the dynamic input fields will be added after deleting everything inside the div-->
                </div>

                <!-- List of books you are adding that you have -->
                <h2 class="text-white">Agregar libro que tienes</h2>
                <div id="tiene_libros">
                    <div id="newBook_t" class="input-group mb-3">

                        <span class="input-group-text text-white" style="background-color: #24242c">Título</span>
                        <input type="text" name="tiene_libros[${bookCounterTengo}][nombre]"
                            placeholder="Nombre del libro" autocomplete="off" class="form-control text-white"
                            style="background-color: #24242c">
                        <span class="input-group-text text-white" style="background-color: #24242c">Autor</span>
                        <input type="text" name="tiene_libros[${bookCounterTengo}][autor]" placeholder="Autor del libro"
                            autocomplete="off" class="form-control text-white" style="background-color: #24242c">
                        <span class="input-group-text text-white" style="background-color: #24242c">Año de
                            Publicación</span>
                        <input type="text" name="tiene_libros[${bookCounterTengo}][fecha_publicacion]"
                            placeholder="Fecha de Publicación" autocomplete="off" class="form-control text-white"
                            style="background-color: #24242c">

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false"
                                style="background-color: rgb(31, 31, 31); border-radius: 0px; border-color: white; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Género</button>

                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end scrollable-content"
                                style="width: 175px;">

                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault0"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault0"
                                            style="margin-left: 8px; width: 100%;">
                                            Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault1"
                                            style="margin-left: 8px; width: 100%;">
                                            No_Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault2"
                                            style="margin-left: 8px; width: 100%;">
                                            Misterio
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault3"
                                            style="margin-left: 8px; width: 100%;">
                                            Ciencia_Ficción
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault4"
                                            style="margin-left: 8px; width: 100%;">
                                            Fantasía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault5"
                                            style="margin-left: 8px; width: 100%;">
                                            Romance
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault6"
                                            style="margin-left: 8px; width: 100%;">
                                            Aventura
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault7"
                                            style="margin-left: 8px; width: 100%;">
                                            Terror
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault8"
                                            style="margin-left: 8px; width: 100%;">
                                            Distopía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault9"
                                            style="margin-left: 8px; width: 100%;">
                                            Histórico
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault10"
                                            style="margin-left: 8px; width: 100%;">
                                            Biografía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault11"
                                            style="margin-left: 8px; width: 100%;">
                                            Poesía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault12"
                                            style="margin-left: 8px; width: 100%;">
                                            Drama
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault13"
                                            style="margin-left: 8px; width: 100%;">
                                            Comedia
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault14"
                                            style="margin-left: 8px; width: 100%;">
                                            Ensayo
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault15"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault15"
                                            style="margin-left: 8px; width: 100%;">
                                            Suspenso
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault16"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault16"
                                            style="margin-left: 8px; width: 100%;">
                                            Ciencia
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault17"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault17"
                                            style="margin-left: 8px; width: 100%;">
                                            Autobiografía
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault18"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault18"
                                            style="margin-left: 8px; width: 100%;">
                                            Viajes
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check dropdown-item">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault19"
                                            style="margin-left: 0px;">
                                        <label class="form-check-label" for="flexCheckDefault19"
                                            style="margin-left: 8px; width: 100%;">
                                            Otro
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div id="c-b">
                        <button confirm-button style="float: right; border-color: white;" type="button"
                            class="confirm-button btn btn-primary" data-type="tiene_libros"
                            data-index="${bookCounterTengo}">Confirmar</button>
                    </div>
                    <!-- This is where the dynamic input fields will be added after deleting everything inside the div-->

                </div>
                <!-- Display confirmed books -->
                <div id="ghostDiv" class="ghost">
                    <h2 id="ghostSubT" class="ghost-text">Libros por guardar</h2>

                    <div class="table-container">
                        <div class="by-side">
                            <table id="confirmed-bt1" class="table table-dark table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th ghost-txt class="ghost-text">Libros que quieres</th>
                                    </tr>
                                </thead>
                                <tbody id="confirmed-bt1-body">
                                    <!-- Table rows will be added dynamically here -->
                                </tbody>
                            </table>
                        </div>
                        <div class="by-side">
                            <table id="confirmed-bt2" class="table table-dark table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th ghost-txt class="ghost-text">Libros que tienes</th>
                                    </tr>
                                </thead>
                                <tbody id="confirmed-bt2-body">
                                    <!-- Table rows will be added dynamically here -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div style="float: right;">
                        <button class="btn btn-primary" type="click" id="save_changes">Acomodar en
                            estantes</button>
                    </div>
                </div>
            </div>

            <!-- Aquí comienza el contenedor de los estantes-->
            <hr class="new">
            <h2 class="text-white" style="text-align: center; padding-top: 10px;">Estantes</h2>

            <div class="table-container">
                <div class="by-side">
                    <table id="data-table-1" class="table table-dark table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="estante">Libros que quiero
                                    <div class="dropdown">
                                        <i class="fa fa-bars"></i>
                                        <button class="dropbtn"></button>
                                        <div class="dropdown-content">
                                            <label for="editar-q" data-mod-target="#mod-edit" shelf="quiero">Editar
                                                libro</label>
                                            <label for="eliminar-q" data-mod-target="#mod-delete"
                                                shelf="quiero">Eliminar
                                                libro</label>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <!-- Table rows will be added dynamically here -->
                        </tbody>
                    </table>
                </div>

                <div class="by-side">
                    <table id="data-table-2" class="table table-dark table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="estante">Libros que tengo
                                    <div class="dropdown">
                                        <i class="fa fa-bars"></i>
                                        <button class="dropbtn"></button>
                                        <div class="dropdown-content">
                                            <label for="editar-q" data-mod-target="#mod-edit" shelf="tengo">Editar
                                                libro</label>
                                            <label for="eliminar-q" data-mod-target="#mod-delete" shelf="tengo">Eliminar
                                                libro</label>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-body-2">
                            <!-- Table rows will be added dynamically here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <script>
            let bookCounterQuiero = 0;
            let bookCounterTengo = 0;
            const confirmedBooksTengo = [];
            const confirmedBooksQuiero = [];

            //Obtenemos los libros registrados por el usuario
            const string_q = '<%- JSON.stringify(q_libros) %>';
            const quiere_libros = JSON.parse(string_q);

            const string_t = '<%- JSON.stringify(t_libros) %>';
            const tiene_libros = JSON.parse(string_t);


            //To delete an existing book
            const submit_delete = document.getElementById('submit-delete');
            submit_delete.addEventListener('click', async () => {

                const mod_body = submit_delete.parentElement.parentElement

                const delete_shelf = []
                const books = mod_body.querySelectorAll("[search-book]")
                let books_checked = 0

                const shelf = mod_body.querySelector("[label_id]").getAttribute('delete')

                books.forEach(book => {
                    const label = book.querySelector("[search-label]")
                    const input = book.querySelector("input")

                    if (input.checked) {
                        books_checked += 1
                        const book_id = book.getAttribute('id')


                        delete_shelf.push({
                            book_id
                        })
                        input.checked = false;
                    }
                })

                if (books_checked > 0) {
                    openLoading();
                    try {
                        const response = await fetch('/delete', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                shelf,
                                delete_shelf
                            }),
                        });
                        window.location.href = '/library';

                    } catch (error) {
                        console.error('Error:', error);
                    }
                }
            });

            // Event listeners for editing books
            const select_edit = document.getElementById('select-edit');
            select_edit.addEventListener('click', () => {
                const mod_body = select_edit.parentElement.parentElement
                const books = mod_body.querySelectorAll('[search-book]')
                const shelf = mod_body.querySelector("[label_id]").getAttribute('delete')

                mod_body.parentElement.querySelector('.title').textContent = 'Editar'

                books.forEach(book => {
                    const label = book.querySelector("[search-label]")
                    const input = book.querySelector("input")


                    if (input.checked) {
                        const header = mod_body.querySelector('[data-search]')
                        const search = mod_body.querySelector('[search-elements]')
                        const button = mod_body.querySelector('[button-div]')

                        header.classList.add('hide')
                        search.classList.add('hide')
                        button.classList.add('hide')

                        const form = mod_body.querySelector('[edit-form]')

                        const arr = label.textContent.trim().split('-')
                        const title = arr[0].trim()
                        const autor = arr[1].split('(')[0].trim()
                        const year = arr[1].split('(')[1].split(')')[0].trim()

                        form.innerHTML = '';

                        const child = `
                            <div class="input-group mb-3" style="display:block">
                                <div>
                                    <label style="color:white;">Titulo</label>
                                    <input id="title" type="text" value="${title}" name="title" placeholder="Título del libro"
                                        autocomplete="off" class="form-control text-white" style="background-color: #525252">
                                </div>
                                <div>    
                                    <label style="color:white;">Autor</label>
                                    <input id="autor" type="text" value="${autor}" name="autor" placeholder="Autor del libro"
                                        autocomplete="off" class="form-control text-white" style="background-color: #525252">
                                </div>
                                <div>
                                    <label style="color:white;">Año de publicación</label>
                                    <input id="year" type="text" value="${year}" name="year"
                                        placeholder="Fecha de Publicación" autocomplete="off" class="form-control text-white"
                                        style="background-color: #525252">
                                </div>
                            </div>

                            <div style="margin-right: 5%; margin-top: 10px; display: inline-block;">
                                <button cancel-edit id="cancel-edit" type="click" class="btn btn-primary">Cancelar</button>
                            </div>

                            <div style="margin-top: 10px; float:right; display: inline-block;">
                                <button submit-edit id="submit-edit" type="click" class="btn btn-primary">Guardar</button>
                            </div>
                            `;
                        form.insertAdjacentHTML('beforeend', child)


                        mod_body.querySelector('[cancel-edit]').addEventListener('click', () => {
                            header.classList.remove('hide')
                            button.classList.remove('hide')
                            search.classList.remove('hide')
                            form.innerHTML = '';
                            mod_body.parentElement.querySelector('.title').textContent =
                                '¿Qué libro quieres editar?'
                        })

                        mod_body.querySelector('[submit-edit]').addEventListener('click', async () => {

                            openLoading();

                            const input_title = form.querySelector('[name=title]').value
                            const input_autor = form.querySelector('[name=autor]').value
                            const input_year = form.querySelector('[name=year]').value
                            const book_id = book.getAttribute('id')


                            try {
                                const response = await fetch('/updateBook', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({
                                        input_title,
                                        input_autor,
                                        input_year,
                                        shelf,
                                        book_id
                                    }),
                                });
                                window.location.href = '/library';

                            } catch (error) {
                                console.error('Error:', error);
                            }
                        })
                    }
                })
            })

            //To save/upload the confirmed books
            document.getElementById('save_changes').addEventListener('click', async () => {

                openLoading();

                try {
                    const response = await fetch('/newBooks', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            confirmedBooksTengo,
                            confirmedBooksQuiero,
                        }),
                    });
                    window.location.href = '/library';

                } catch (error) {
                    console.error('Error:', error);
                }
            });


            // Event listener for confirming books before saving them in the database
            document.addEventListener('click', function (event) {
                if (event.target.classList.contains('confirm-button')) {
                    const type = event.target.getAttribute('data-type');
                    const dp_menu = event.target.parentElement.parentElement.querySelectorAll('li')
                    const index = event.target.getAttribute('data-index');
                    const bookInputs = document.querySelectorAll(
                        `[name="${type}[${index}][nombre]"], [name="${type}[${index}][autor]"], [name="${type}[${index}][fecha_publicacion]"]`
                    );

                    const book = {};
                    const genres = [];

                    bookInputs.forEach(input => {
                        const key = input.getAttribute('name').split('[')[2].split(']')[0]; // Adjusted index
                        const value = input.value;
                        book[key] = value;
                    });

                    dp_menu.forEach(li => {
                        if (li.querySelector('input').checked) {
                            genres.push(li.querySelector('label').textContent.trim())
                        }
                    });

                    book['clasificacion'] = genres


                    if (book.nombre != '' & book.autor != '' & book.fecha_publicacion != '' & genres.length > 0) {

                        if (type === 'quiere_libros') {
                            bookCounterQuiero++;
                            confirmedBooksQuiero.push(book);

                            const quiereLibros = document.getElementById('quiere_libros');
                            const child = document.getElementById('newBook_q')
                            quiereLibros.removeChild(child)

                            const cb = document.getElementById('c-b2')
                            quiereLibros.removeChild(cb)

                            const newBook = `
                            <div id='newBook_q' class="input-group mb-3">

                                <span class="input-group-text text-white" style="background-color: #24242c">Título</span>
                                <input id="name" type="text" name="quiere_libros[${bookCounterQuiero}][nombre]"
                                    placeholder="Nombre del libro" class="form-control text-white"
                                    style="background-color: #24242c">
                                <span class="input-group-text text-white" style="background-color: #24242c">Autor</span>
                                <input id="autor" type="text" name="quiere_libros[${bookCounterQuiero}][autor]"
                                    placeholder="Autor del libro" autocomplete="off" class="form-control text-white"
                                    style="background-color: #24242c">
                                <span class="input-group-text text-white" style="background-color: #24242c">Año de
                                    Publicación</span>
                                <input id="date" type="text" name="quiere_libros[${bookCounterQuiero}][fecha_publicacion]"
                                    placeholder="Fecha de Publicación" autocomplete="off" class="form-control text-white"
                                    style="background-color: #24242c">



                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside" aria-expanded="false"
                                        style="background-color: rgb(31, 31, 31); border-radius: 0px; border-color: white; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Género</button>

                                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end scrollable-content" style="width: 175px;">


                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.0"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.0"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.1"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.1"
                                                    style="margin-left: 8px; width: 100%;">
                                                    No_Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.2"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.2"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Misterio
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.3"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.3"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ciencia_Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.4"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.4"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Fantasía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.5"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.5"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Romance
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.6"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.6"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Aventura
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.7"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.7"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Terror
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.8"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.8"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Distopía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.9"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.9"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Histórico
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.10"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.10"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Biografía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.11"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.11"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Poesía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.12"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.12"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Drama
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.13"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.13"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Comedia
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.14"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.14"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ensayo
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.15"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.15"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Suspenso
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.16"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.16"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ciencia
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.17"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.17"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Autobiografía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.18"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.18"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Viajes
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="2.19"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="2.19"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Otro
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                </div>

                                <div id="c-b2">
                                    <button confirm-button style="float: right; border-color: white;" type="button"
                                        class="confirm-button btn btn-primary" data-type="quiere_libros"
                                        data-index="${bookCounterQuiero}">Confirmar</button>
                                </div>
                            `;

                            quiereLibros.insertAdjacentHTML('beforeend', newBook);

                        } else if (type === 'tiene_libros') {
                            confirmedBooksTengo.push(book);
                            bookCounterTengo++;
                            const tieneLibros = document.getElementById('tiene_libros');
                            const child = document.getElementById('newBook_t')
                            tieneLibros.removeChild(child)

                            const cb = document.getElementById('c-b'); //confirm button
                            tieneLibros.removeChild(cb);

                            const newBook = `
                            <div id="newBook_t" class="input-group mb-3">

                                <span class="input-group-text text-white" style="background-color: #24242c">Título</span>
                                <input type="text" name="tiene_libros[${bookCounterTengo}][nombre]"
                                    placeholder="Nombre del libro" autocomplete="off" class="form-control text-white"
                                    style="background-color: #24242c">
                                <span class="input-group-text text-white" style="background-color: #24242c">Autor</span>
                                <input type="text" name="tiene_libros[${bookCounterTengo}][autor]" placeholder="Autor del libro"
                                    autocomplete="off" class="form-control text-white" style="background-color: #24242c">
                                <span class="input-group-text text-white" style="background-color: #24242c">Año de
                                    Publicación</span>
                                <input type="text" name="tiene_libros[${bookCounterTengo}][fecha_publicacion]"
                                    placeholder="Fecha de Publicación" autocomplete="off" class="form-control text-white"
                                    style="background-color: #24242c">

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside" aria-expanded="false"
                                        style="background-color: rgb(31, 31, 31); border-radius: 0px; border-color: white; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Género</button>

                                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end scrollable-content" style="width: 175px;">

                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault0"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault0"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault1"
                                                    style="margin-left: 8px; width: 100%;">
                                                    No_Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault2"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Misterio
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault3"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ciencia_Ficción
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault4"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Fantasía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault5"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Romance
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault6"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Aventura
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault7"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Terror
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault8"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Distopía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault9"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Histórico
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault10"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Biografía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault11"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Poesía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault12"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Drama
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault13"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Comedia
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault14"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ensayo
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault15"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault15"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Suspenso
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault16"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault16"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Ciencia
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault17"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault17"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Autobiografía
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault18"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault18"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Viajes
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check dropdown-item">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault19"
                                                    style="margin-left: 0px;">
                                                <label class="form-check-label" for="flexCheckDefault19"
                                                    style="margin-left: 8px; width: 100%;">
                                                    Otro
                                                </label>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                                </div>

                                <div id="c-b">
                                    <button confirm-button style="float: right; border-color: white;" type="button"
                                        class="confirm-button btn btn-primary" data-type="tiene_libros"
                                        data-index="${bookCounterTengo}">Confirmar</button>
                                </div>
                            
                            `;

                            tieneLibros.insertAdjacentHTML('beforeend', newBook);
                        }

                        updateConfirmedBooksTable();
                        ghostAppear();
                    }
                }
            });

            // Function to update the confirmed books table
            function updateConfirmedBooksTable() {
                const confirmedTableQ = document.getElementById('confirmed-bt1-body');
                const confirmedTableT = document.getElementById('confirmed-bt2-body');

                confirmedTableQ.innerHTML = '';
                confirmedTableT.innerHTML = '';

                showShelf(confirmedBooksQuiero, confirmedTableQ);
                showShelf(confirmedBooksTengo, confirmedTableT);
            }

            //---------------------------------------------
            //--------------- BIBLIOTECA ------------------
            //---------------------------------------------

            //Mostramos estantes
            function showShelf(shelf, table) {
                shelf.forEach(book => {
                    
                    const row = document.createElement('tr');
                    const td = document.createElement('td');

                    td.innerHTML = `

                        ${book.nombre.replace('^', "'")} - ${book.autor.replace('^', "'")} (${book.fecha_publicacion.replace('^', "'")})

                        <div class="dropdown">
                            <i class="fa fa-solid fa-ellipsis" style="color: whitesmoke; font-size: 10px; margin-right: 4px"></i>
                            <button class="dropbtn"></button>
                            <div class="dropdown-content genres">
                                <span>${book.clasificacion}</span>
                            </div>
                        </div>`;

                    row.appendChild(td);
                    //row.insertAdjacentHTML('beforeend', generos)
                    table.appendChild(row);
                })
            }

            const tableBody = document.getElementById('table-body');
            const tableBody2 = document.getElementById('table-body-2');

            showShelf(quiere_libros, tableBody);
            showShelf(tiene_libros, tableBody2);


            //Here we start to declare functionality of modals
            const openModButton = document.querySelectorAll('[data-mod-target]')
            const closeModButton = document.querySelectorAll('[data-close-button]')
            const overlay = document.getElementById('overlay')

            //Modal open button
            openModButton.forEach(button => {
                button.addEventListener('click', (event) => {
                    const mod = document.querySelector(button.dataset.modTarget)
                    openmod(mod)

                    const shelf = event.target.getAttribute('shelf');

                    if (shelf == 'quiero') {
                        createSearchTable(quiere_libros, shelf, mod);
                    } else {
                        createSearchTable(tiene_libros, shelf, mod);
                    }

                    const searchInput = mod.querySelector("[data-search]")

                    searchInput.addEventListener("input", (e) => {

                        const books = mod.querySelectorAll("[search-book]")

                        books.forEach(book => {
                            const label = book.querySelector("[search-label]")
                            const visible = label.textContent.toLowerCase().includes(e
                                .target.value.toLowerCase())
                            book.classList.toggle("hide", !visible)
                        })
                    })
                })
            })

            closeModButton.forEach(button => {
                button.addEventListener('click', () => {
                    const mod = button.closest('.mod')
                    closemod(mod)

                    const m = button.parentElement.parentElement

                    if (m.querySelector('.title').textContent == 'Editar') {
                        const header = m.querySelector('[data-search]')
                        const search = m.querySelector('[search-elements]')
                        const b = m.querySelector('[button-div]')
                        const form = m.querySelector('[edit-form]')

                        header.classList.remove('hide')
                        b.classList.remove('hide')
                        search.classList.remove('hide')
                        form.innerHTML = '';
                        m.querySelector('.title').textContent = '¿Qué libro quieres editar?'
                    }
                })
            })

            overlay.addEventListener('click', () => {
                const mods = document.querySelectorAll('.mod.active')
                mods.forEach(mod => {
                    closemod(mod)

                    if (mod.querySelector('.title').textContent == 'Editar') {
                        console.log("close")
                        const header = mod.querySelector('[data-search]')
                        const search = mod.querySelector('[search-elements]')
                        const b = mod.querySelector('[button-div]')
                        const form = mod.querySelector('[edit-form]')

                        header.classList.remove('hide')
                        b.classList.remove('hide')
                        search.classList.remove('hide')
                        form.innerHTML = '';
                        mod.querySelector('.title').textContent = '¿Qué libro quieres editar?'
                    }
                })
            })

            function createSearchTable(books, shelf, mod) {

                //Para eliminar los libros que ya estén, antes de poner los nuevos
                const searchTable = mod.querySelector('[search-tbody]')
                searchTable.innerHTML = '';

                const mod_type = mod.getAttribute('id')

                if (shelf == 'quiero') {
                    const label = '<label label_id delete="quiero" style="display:none;"></label>'
                    searchTable.insertAdjacentHTML('beforeend', label);
                } else {
                    const label = '<label label_id delete="tengo" style="display:none;"></label>'
                    searchTable.insertAdjacentHTML('beforeend', label);
                }

                let i = 0;
                //Agregamos libros de nuestra búsqueda
                books.forEach(book => {
                    const row = document.createElement('tr');

                    if (mod_type == 'mod-delete') {
                        const child = `
                        <td search-book id="${book._id}">
                            <div>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault${i}"></input>
                                <label search-label class="form-check-label" for="flexCheckDefault${i}" style="min-width: 93%;">
                                    ${book.nombre.replace('^', "'")} - ${book.autor.replace('^', "'")} (${book.fecha_publicacion.replace('^', "'")})
                                </label>
                            </div>
                        </td>
                        `;

                        row.insertAdjacentHTML('beforeend', child);
                        searchTable.appendChild(row);
                    } else {
                        const child = `
                        <td search-book id="${book._id}">
                            <div>
                                <label search-label class="container"> 
                                    ${book.nombre.replace('^', "'")} - ${book.autor.replace('^', "'")} (${book.fecha_publicacion.replace('^', "'")})
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        `;

                        row.insertAdjacentHTML('beforeend', child);
                        searchTable.appendChild(row);
                    }

                    i++;
                })
            }

            function openmod(mod) {
                if (mod == null) return
                mod.classList.add('active')
                overlay.classList.add('active')
            }

            function closemod(mod) {
                if (mod == null) return
                mod.classList.remove('active')
                overlay.classList.remove('active')
            }

            function ghostAppear() {
                ghostDiv.classList.add('active')
                ghostSubT.classList.add('active2')

                const txt = document.querySelectorAll('[ghost-txt]')
                txt.forEach(t => {
                    t.classList.add('active');
                })
            }

            function openLoading() {
                loading.classList.add('active')
                overlay.classList.add('active')
            }

            function closeLoading() { //debemos de checarlo bien antes de usarlo
                loading.classList.remove('active')
                //overlay.classList.remove('active')
            }
        </script>


</body>

</html>