<% layout('layouts/boilerplate2') %>

<div class="container d-flex justify-content-center align-items-center mt-3 mb-5">
    <div class="row mt-4" style="width: 100%;">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 ">
            <div class="card shadow text-white bg-dark border-dark">

                <div class="card-body">
                    <h5 class="card-title">Iniciar sesion</h5>

                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="username">Nombre</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Contraseña</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>

                        <div style="color: red;">
                            <% if (error.length) { %>
                            <p class="text-end">Usuario y/o contraseña incorrectos</p>
                            <% } %>
                        </div>

                        <a style="font-size: small; text-align: right; text-decoration:none; color:aliceblue" href="#"
                            class="mt-2">
                            <p class="text-end">¿Olvidaste tu
                                contraseña?</p>
                        </a>


                        <div style="margin-top: 5%;">
                            <button class="btn btn-primary form-control m-0" type="submit">Iniciar
                                sesión</button>
                        </div>



                    </form>

                    <hr class="rounded">

                    <div class="navbar-nav ml-auto">
                        <label style="color:aliceblue; text-align: center; margin-bottom: 10px;">¿No tienes
                            una
                            cuenta?</label>
                        <a href="/register"><button id="registrarse" class="btn btn-primary form-control m-0"
                                style="text-align: center;" data-mod-target="#mod-register">Registrate</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>