<% layout('layouts/boilerplate2') %>


<div class="card my-3 p-3">
    <div class="row">
        <div class="col-md-3">
            <h2 class="card-title mt-3"><%=otherUser.username %></h2>

        </div>
    </div>
</div>
<div class="card my-3 p-3">
    <div class="row">
        <div class="col-md-4">
            <!-- Mostrar hasta 5 libros que tiene -->
            <h6>Libros que tiene:</h6>
            <ul>
                <% for (let i = 0; i < otherUser.tiene_libros.length; i++) { %>
                <li><%= otherUser.tiene_libros[i].nombre %></li>
                <% } %>

            </ul>
        </div>
        <div class="col-md-4">
            <!-- Mostrar hasta 5 libros que quiere -->
            <h6>Libros que quiere:</h6>
            <ul>
                <% for (let i = 0; i <  otherUser.quiere_libros.length; i++) { %>
                <li><%= otherUser.quiere_libros[i].nombre %></li>
                <% } %>

            </ul>
        </div>
        <div class="col-md-4">
            <!-- Mostrar hasta 5 libros que quiere -->
            <h6>Generos que busca:</h6>
            <ul>
                <% for (let i = 0; i <  otherUser.genero_quiere.length; i++) { %>
                <li><%= otherUser.genero_quiere[i] %></li>
                <% } %>

            </ul>
        </div>

    </div>
</div>

<a href="/index" class="btn btn-primary">Aceptar</a> <a href="/index" class="btn btn-primary">Rechazar</a>