<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BooksMart</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    </style>

</head>

<body>

    <h1>Login</h1>

    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand"><img src="/img/logoGlasses.svg" alt="" id="glassesSVG"
                class="mt-0 mb-2 ml-1"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">INICIO</a>
                </li>
                <li class="nav-item">
                    <a href="/faq" class="nav-link">ACERCA DE</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
               <a class="nav-link" href="/login">LOG IN</a>
            </div>
        </div>
    </nav>


    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-md-0 col-lg-1 col-xl-2"></div> 
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="my-2 my-md-0 col-10 col-md-6 col-lg-5 m-0" >
                    <form action="/register" method="POST">
                        <div>
                            <label style="color:aliceblue" for="name">Nombre</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label style="color:aliceblue; margin-top: 2%;" for="email">Corre electrónico</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                            <label style="color:aliceblue; margin-top: 2%;" for="password">Contraseña</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div style="margin-right: 5%; margin-top: 5%;">
                            <button class="btn btn-primary form-control m-0" type="submit">Registrarse</button>
                        </div>
                        
                    </form>
                </div>
            
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4 mx-auto text-center  mt-lg-5">
                <img class="img-fluid " src="/img/georgerr.png" alt="" id="georgeIMG">
            </div>
            <div class="col-md-0 col-lg-1 col-xl-2"></div>
        </div>

    </section>


</body>

</html>