<html>

<head>
    <link rel="stylesheet" href="/css/styleMail.css" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
</head>

<body>
    <div class="container">
        <div class="p-card" style="width: 600px;">
            <%if(t==0){%>
                <div class="expirado">
                    <div>Este enlace ha expirado.</div>
                </div>
            <%} else {%>
                <div class="header2">
                    <h1 style="margin-bottom: 0%;">Reestablece tu contraseña</h1>
                </div>
                <hr style="width: 100%;">
                <div style="width: 100%; margin-top: 30px;">
                        <form action="/reset_password/<%-t%>" method="POST">
                            <label for="password">Ingresa tu nueva contraseña:</label>
                            <input type="password" id="password" name="password" required>
                            <i hide-pw class="fa fa-eye-slash" aria-hidden="true"></i>
                            <br>
                            <button type="submit" class="btn-primary" style="margin-top: 20px; float: right;">Cambiar contraseña</button>
                        </form>
                </div>
            <%}%>
        </div>
    </div>
</body>

<script>
    const hide_pw = document.querySelectorAll('[hide-pw]')
        hide_pw.forEach(pw => {
            pw.addEventListener('click', () => {
                const pwi = pw.parentElement.querySelector('input')

                if (pw.classList.contains('fa-eye')) {
                    pw.classList.remove('fa-eye')
                    pw.classList.add('fa-eye-slash')
                    pwi.type = 'password'
                } else {
                    pw.classList.remove('fa-eye-slash')
                    pw.classList.add('fa-eye')
                    pwi.type = 'text'
                }
            })
        })
</script>

</html>