body {
    background-color: #181c2b;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

}

body {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("https://images.unsplash.com/photo-1508107536691-b1449928187d?q=80&w=3082&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
}

#rrQuote {

    font-weight: 700;
    text-align: left;
}

#georgeQ {
    text-align: left;
    font-size: small;
}

#webDesc {
    text-align: justify;

}

.btn-primary {
    background-color: #FFB45F;
    color: #131620;
    font-weight: bold;
}

.btn-secondary {
    background-color: #131620;
}

.btn-primary:hover {
    background-color: #FFD587;
    /* New background color on hover */
    color: #131620;
    /* Keeping the same text color */
}

.btn-secondary:hover {
    background-color: #292b3a;
    /* New background color on hover */
    color: #ffffff;
    /* Keeping the same text color */
}

.navbar-dark {
    background-color: #131620;
    /* New background color on hover */

}

.card-secondary {
    background-color: #131620;
    border-color: white;
}

.custom-link {
    color: #FFB45F;
    /* Change to your desired color */
}

.custom-link:hover {
    color: #cfcfcf;
    /* Change to your desired color */
}

.card-body {
    color: #cfcfcf;
    /* Change to your desired color */
}

.bg-secondary {
    background-color: #131620;
}

#glassesSVG {
    width: 7rem;
}


#swapArrows {
    width: 7rem;
    /* Tamaño relativo al contenedor */
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.ghost {
    position: static;
    display: none;
}

.ghost.active {
    display: block;
    padding-top: 1.5cm;
}

.ghost-text {
    color: white;
    font-size: 0px;

}

.ghost-text.active {
    font-size: 17px;
}

.ghost-text.active2 {
    font-size: 22px;
    color: rgb(178, 2, 2);
}

.loading {
    position: fixed;
    top: 48%;
    left: 64%;
    transform: scale(0);
    display: none;
    align-self: center;
    z-index: 2010;
    width: 500px;
    max-width: 80%;
}

.loading.active {
    transform: scale(2);
    display: block;
}

.mod {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 2000;
    background-color: black;
    width: fit-content;
    max-width: fit-content;
}

.mod.active {
    transform: translate(-50%, -50%) scale(1);
}

.mod-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    color: aliceblue;
}

.mod-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.mod-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: aliceblue;
    padding-left: 55px;
}

.mod-body {
    padding: 10px 15px;
    max-height: 300px;
    overflow: hidden;
}

.scrollable-content {
    overflow-y: auto;
    /* Enable vertical scrolling */
    max-height: 200px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1900;
}

.estante {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.table-container {
    display: flex;
}

.by-side {
    flex: 50%;
    padding: 25px;
}

hr.new {
    border-bottom: 1px solid white;
    padding-top: 50px;
}


/* Dropdown Button */
.dropbtn {
    display: none;
}

/* The container <div>- needed to position the dropdown content */
.dropdown {
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 17px;
    bottom: 3px;
    background-color: #303030;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content label {
    color: rgb(230, 230, 230);
    padding: 10px 10px;
    font-size: 13px;
    text-decoration: none;
    display: block;
    background-color: #303030;
}

/* Change color of dropdown links on hover */
.dropdown-content label:hover {
    background-color: #030303;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

input.search {
    width: 100%;
    border-radius: 7px;
    padding: 5px;
}

.hide {
    display: none;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



.login-mod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
}


.login-mod i {
    position: absolute;
    left: 24px;
    top: 85px;
    font-size: 21px;
}

.home-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
    padding-left: 35px;
    padding-right: 48px;
}

.nav-label:hover {
    cursor: pointer;
    background-color: #303030;
}
.fa-eye, .fa-eye-slash:hover {
    cursor: pointer;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

.dropdown-menu {
    overflow-x: hidden;
}

.genres {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.566);
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-width: thin;
    border-radius: 15px;
    font-size: 12px;
}

.genres span {
    padding: 10px;
}

