body {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
}

#rrQuote {

    font-weight: 700;
    text-align: left;
}

#georgeQ {
    text-align: left;
    font-size: small;
}

#webDesc {
    text-align: justify;

}

.btn-primary {
    background-color: #6F6242;
    color: #FFEFCA;
    border-color: black;
}

.btn-secondary {
    background-color: #170000;
}

.btn-third {
    background-color: #170000;
    position: absolute;
    margin-left: 88%;
    margin-top: 18px;
    border-radius: 20px;
    font-size: 12px;
    color: whitesmoke;
    border-color: #170000;
}

.btn-third:hover {
    background-color: #170000b6;
    color: whitesmoke;
}

.btn-primary:hover {
    background-color: #938564;
    color: #FFEFCA;
    border-color: black;
}

.btn-secondary:hover {
    background-color: #292b3a;
    /* New background color on hover */
    color: #ffffff;
    /* Keeping the same text color */
}

.navbar-dark {
    background-color: #131620;
    /* New background color on hover */

}

.card-secondary {
    background-color: #131620;
    border-color: white;
}

.custom-link {
    color: #FFB45F;
    /* Change to your desired color */
}

.custom-link:hover {
    color: #cfcfcf;
    /* Change to your desired color */
}

.card-body {
    color: #cfcfcf;
    font-size: 25px;
    /* Change to your desired color */
}
.card-body-filtros {
    margin-left: 15px;
    /* Change to your desired color */
}

.bg-secondary {
    background-color: #131620;
}

#glassesSVG {
    width: 7rem;
}


#swapArrows {
    width: 7rem;
}

.hide {
    display: none;
}

.retainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retainer th, .retainer td, .retainer tr {
    background-color: #938564;
    color: #FFEFCA;
    border-color: black;
    border-style: dashed;
    text-align: center;
}

.p-card {
    border-style: outset;
    border-radius: 20px;
    border-color: #170000;
    border-width: medium;
    width: 80%;
    background-color: #B9AA87;
    color: #170000;
}

.message {
    border-style: groove;
    border-radius: 20px;
    border-color: #832600;
    border-width: thick;
    background-color: #B9AA87;
    color: #170000;
    width: fit-content;
}